<div class="modal" [class.show]="isVisible()" [style.display]="isVisible() ? 'block' : 'none'" 
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{ title() }}</h5>
      </div>
      <div class="modal-body">
        {{ content() }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop" [class.show]="isVisible()" [style.display]="isVisible() ? 'block' : 'none'"></div>