<div class="form-group">
  <div>
    {{ inputConfig().inputCommon.label }}
  </div>
  <input
    class="form-control"
    [id]="inputConfig().inputCommon.id"
    [type]="inputConfig().config.type"
    [formControl]="control()"
    [maxlength]="inputConfig().config.maxLength ?? null"
    [minlength]="inputConfig().config.minLength ?? null"
  />
  <label [for]="inputConfig().inputCommon.id" class="form-control-placeholder">
    {{ inputConfig().inputCommon.hint }}
  </label>
</div>

<app-input-error-message
  [control]="control()"
  [validators]="inputConfig().validators"
  [prioritize]="inputConfig().prioritize"
></app-input-error-message>
