<div class="form-group">
  <div>
    {{ inputConfig().inputCommon.label }}
  </div>

  <div class="position-relative">
    <input
      class="form-control"
      [id]="inputConfig().inputCommon.id"
      [type]="type()"
      [formControl]="control()"
    />

    @if (inputConfig().config.type === 'password') {
    <button
      class="btn position-absolute top-50 end-0 translate-middle-y me-2 p-0 border-0 bg-transparent pb-1"
      type="button"
      (click)="togglePasswordVisibility()"
    >
      <fa-icon
        [icon]="type() === 'password' ? faEye : faEyeSlash"
        class="eye-toggle-icon"
        draggable="false"
      >
      </fa-icon>
    </button>
    }
  </div>

  <label [for]="inputConfig().inputCommon.id" class="form-control-placeholder">
    {{ inputConfig().inputCommon.hint }}
  </label>
</div>

<app-input-error-message
  [control]="control()"
  [validators]="inputConfig().validators"
  [prioritize]="inputConfig().prioritize"
>
</app-input-error-message>
