$primary: #ffffff;
$secondary: #b7b3b3;

$bg-primary: #090837;
$bg-secondary: #0a1446;

$blue: #009bd6;
$yellow: #ffaa00;
$green: #00d95f;
$dark-purple: #2c0a4c;
$purple: #3e0c73;

$white: #ffffff;
$black: #000000;
$grey: #333333
