$primary: #ffffff;
$secondary: #b7b3b3;

$bg-primary: #090837;
$bg-secondary: #0a1446;

$blue: #009bd6;
$yellow: #ffaa00;
$green: #00d95f;
$red: #e63946;

$white: #ffffff;
$black: #000000;
$grey-01: #b7b3b3;
$grey-02: #9b9a9a;
$grey-05: #898989;
