@use "../../../sass/components/button";
@use "../../../sass/variables/color";

.login-container {
  height: 400px;
  margin-top: 120px;
}

.login-form {
  background-color: rgba(color.$primary, 0.1);
}
