<div class="d-flex flex-column align-items-center">
  <div class="login-container">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <app-input-text
        [inputConfig]="inputConfigs[0]"
        [control]="loginForm.controls.email"
      ></app-input-text>

      <app-input-text
        [inputConfig]="inputConfigs[1]"
        [control]="loginForm.controls.password"
      ></app-input-text>

      <button type="submit">Login</button>
    </form>
  </div>
</div>
