<div class="d-top-three">
	<div class="d-top-two-user">
		<img id="i-top-two"src="cat-rick.png" alt="cat">
		<p id="p-position">2</p>
		<p id="p-user">Gato Suspeito</p>
		<p id="p-points">2000</p>
		<p id="p-user-name">username</p>
	</div>

	<div class="d-top-one-user">
		<img id="i-crown" src="crown.png" alt="crown">
		<img id="i-top-one"src="cat-rick.png" alt="cat">
		<p id="p-position">1</p>
		<p id="p-user">Gato Suspeito</p>
		<p id="p-points">5000</p>
		<p id="p-user-name">username</p>
	</div>

	<div class="d-top-three-user">
		<img id="i-top-three"src="cat-rick.png" alt="cat">
		<p id="p-position">3</p>
		<p id="p-user">Gato Suspeito</p>
		<p id="p-points">1000</p>
		<p id="p-user-name">username</p>
	</div>
</div>
